// Grid system

// Rows
.row {
    width: 100%;
}
.row:before,
.row:after {
    content: "";
    display: table;
    line-height: 0;
}

// Columns
.row .column {
    display: block;
    float: left;
    width: 100%;
    overflow: hidden;
    margin-left: 2.127659574468085%;
    box-sizing: border-box;
}
.row .column:first-child {
    margin-left: 0;
}
.column-12 {
    width: 100%;
}
.column-11 {
    width: 91.48936170212765%;
}
.column-10 {
    width: 82.97872340425532%;
}
.column-9 {
    width: 74.46808510638297%;
}
.column-8 {
    width: 65.95744680851064%;
}
.column-7 {
    width: 57.44680851063829%;
}
.column-6 {
    width: 48.93617021276595%;
}
.column-5 {
    width: 40.42553191489362%;
}
.column-4 {
    width: 31.914893617021278%;
}
.column-3 {
    width: 23.404255319148934%;
}
.column-2 {
    width: 14.893617021276595%;
}
.column-1 {
    width: 6.382978723404255%;
}
