// Messages

// Private Messages
.private-message {
    &.new-message {
        padding: 15px;
        background-color: #eaffeb;

        .message {
            padding: 20px;
            border: 1px solid #c8ddc9;
            background-color: #e0f4e1;
        }
    }
    .message {
        padding: 20px;
        border: 1px solid #eee;
        background-color: #fcfcfc;
    }
}

// Public Messages
.public-message {
    &.new-message {
        padding: 15px;
        background-color: #eaffeb;

        .message {
            padding: 20px;
            border: 1px solid #c8ddc9;
            background-color: #e0f4e1;
        }
    }
    .message {
        padding: 20px;
        border: 1px solid #eee;
        background-color: #fcfcfc;
    }
}